<div class="row-cols-3">
	<div class="col">
		<div class="card catalog__card-lg">
			<img src="..." class="card-img catalog__card-lg--img" alt="...">
			<div class="card-img-overlay">
				<h5 class="card-title catalog__card-lg--title d-flex justify-content-center">Cras purus velit</h5>
				<p class="catalog__card-lg--synopsis ps-1 pt-3">Synopsis</p>
				<p class="card-text catalog__card-lg--text ps-1 pt-1 pe-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam iaculis adipiscing....</p>
				<p class="catalog__card-lg--stars pt-5">&#x2605 &#x2605 &#x2605 &#x2605
					<span class="catalog__card-lg--stars-white">&#x2605</span>
				</p>
			</div>
		</div>
	</div>
</div>
