{% extends 'base.html.twig' %}

{% block title %}Catalogue{% endblock %}

{% block body %}
{# Section les Nouveautés#}
	<section id="catalog">
		<h2 class="section__title">Les Nouveautés</h2>
		<div class="catalog d-flex col-11 row mx-auto justify-content></div>
	</section>
{% endblock %}
